@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
}

body {
  overflow-x: hidden;
  position: relative;
  background-image: radial-gradient(circle, rgb(247, 247, 247), beige);
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 500vh;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  transform: scale(1.1);
  color: blue;
}

.container {
  margin: 0 auto;
}
img {
  margin: 10px auto;
  width: 95%;
  height: 40%;
  object-fit: contain;
  border: 2px;
  border-radius: 20px;
}

.navbar,
.container-3D,
.landing-page-title {
  text-align: center;
  font-family: "Bungee", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: red;
  transform: perspective(3000px) rotateX(30deg);
  z-index: 2;
}

.container-3D {
  margin: 12rem auto;
  width: 95%;
  align-content: center;
  height: fit-content;
  background-image: linear-gradient(#6f848b, beige);
  border: 2px solid black;
  border-radius: 30px;
  transform-style: preserve-3d;
  transition: transform 1s ease-out;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: red;
}

.landing-page-subtitle {
  color: blue;
}

.name {
  color: green;
  text-shadow: 0 4px 4px black;
  font-size: 2rem;
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
  padding: 0;
  color: blue;
}

.skill-header {
  font-size: 2rem;
  color: green;
}

.container-3D::before,
.container-3D::after {
  content: "";
  position: absolute;

  border-radius: inherit;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.container-3D::before {
  inset: 0.75rem;
  background: black;
  transform: translateZ(-49px);
  filter: blur(15px);
  opacity: 0.5;
}

.container-3D::after {
  inset: -0.9rem;
  background: linear-gradient(-45deg, rgb(0, 255, 106), rgb(239, 235, 241));
  transform: translateZ(-50px);
}

.about-me-title {
  font-size: 2rem;
  color: red;
}

.experience-button:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 106);
  transform: scale(1.1);
}

.project-header-div {
  width: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: seagreen;
  margin: 200px auto 0 auto;
  padding: 0;
  justify-content: center;
  color: green;
  text-shadow: 0 4px 4px black;
  box-shadow: 0 4px 4px black;
}

.text-3D {
  position: relative;
  transition: transform 0.5s ease-out;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: yellow;
  text-shadow: 0 4px 4px black;
  font-size: 1.5rem;
}

.projects-title {
  font-size: 20px;
  color: red;
  text-align: center;
  text-shadow: none;
}
.projects-title {
  font-size: 20px;
  color: Red;
  text-align: center;
  text-shadow: none;
  font-family: "Bungee", sans-serif;
}

.projects-container {
  position: relative;
  display: flex;
  justify-content: center;
  color: blue;
  perspective: 5000px;
  transform-style: preserve-3d;
}

.project {
  position: fixed;
  margin: 3rem;
  text-shadow: none;
  height: 30rem;
  width: 20rem;
  flex: 0 0 auto;
  transition: transform 1s ease-out;
}

.project:hover {
  cursor: pointer;
  transform: scale(0.8);
}

.project:nth-child(1) {
  transform: translate3d(-60%, 0, -320px);
}

.project:nth-child(2) {
  transform: translate3d(60%, 0, -320px);
}

.project:nth-child(0) {
  transform: translate3d(0, 0, 0);
}

.project-button {
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 50%;
  height: fit-content;
  color: red;
  text-shadow: 0 2px 4px black;
  background-color: green;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
  text-align: center;
  transform: perspective(3000px) rotateX(30deg);
}

.project-button:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 106);
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
  text-align: center;
  transform: scale(1.1);
}

li {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .skills-container {
    flex-direction: column;
  }

  .navbar {
    font-size: 13px;
  }
}
