@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
}

body {
  overflow-x: hidden;
  position: relative;
  background-image: radial-gradient(circle, rgb(247, 247, 247), beige);
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 500vh;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.hamburger-navbar {
  top: 50px;
  right: 25px;
  border: 2px solid black;
  border-radius: 10px;
  width: 10rem;
  height: fit-content;
  position: fixed;
  display: flex;
  padding: 20px;
  flex-direction: column;
  z-index: 2;
  background-color: beige;
  transform: perspective(3000px) rotateX(30deg);
  box-shadow: 0 4px 4px black;
}
.hamburger-menu {
  display: none;
}

.hamburger-navbar {
  display: none;
}

.hamburger-navbar > a {
  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 2px;
  border-radius: 10px;
  transition: 0.4s;
  font-family: "Bungee", sans-serif;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  transform: scale(1.1);
  color: blue;
  text-decoration: underline;
}

img {
  margin: 10px auto;
  width: 95%;
  height: 40%;
  object-fit: contain;
  border: 2px;
  border-radius: 20px;
}

.navbar,
.container-3D,
.landing-page-title {
  text-align: center;
  font-family: "Bungee", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: red;
  transform: perspective(3000px) rotateX(30deg);
  z-index: 1;
}

.container-3D {
  margin: 12rem auto;
  width: 90dvw;
  align-content: center;
  height: fit-content;
  background-image: linear-gradient(#6f848b, beige);
  border: 2px solid black;
  border-radius: 30px;
  transform-style: preserve-3d;
  transition: transform 1s ease-out;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: red;
}

.landing-page-subtitle {
  color: blue;
}

.name {
  color: rgb(1, 99, 1);
  font-size: 2rem;
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
  padding: 0;
  color: blue;
}

.skill-header {
  font-size: 2rem;
  color: green;
}

.container-3D::before,
.container-3D::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.container-3D::before {
  inset: 0.75rem;
  background: black;
  transform: translateZ(-49px);
  filter: blur(15px);
  opacity: 0.5;
}

.container-3D::after {
  inset: -0.9rem;
  background: linear-gradient(-45deg, rgb(0, 255, 106), rgb(239, 235, 241));
  transform: translateZ(-50px);
}

.about-me-title {
  font-size: 2rem;
  color: red;
}

.experience-button:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 106);
  transform: scale(1.1);
}

.project-header-div,
.contact-header-div {
  width: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: seagreen;
  margin: 200px auto 0 auto;
  padding: 0;
  justify-content: center;
  color: green;
  text-shadow: 0 4px 4px black;
  box-shadow: 0 4px 4px black;
}

.text-3D {
  position: relative;
  transition: transform 0.5s ease-out;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: blue;
  font-size: 1.5rem;
}

.projects-title,
.contact-title {
  font-size: 20px;
  color: Red;
  text-align: center;
  text-shadow: none;
  font-family: "Bungee", sans-serif;
}

.project {
  position: absolute;

  margin: 4rem 0 5rem 0;
  text-shadow: none;
  height: 30rem;
  width: 20rem;
  transition: transform 1s ease-out;
}

.projects-container {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  color: blue;
  transform: perspective(1500px) rotateX(8deg);
  transform-style: preserve-3d;
}

.project:hover {
  cursor: pointer;
}

.project:nth-child(1) {
  transform: translate3d(-60%, 0, -320px);
}

.project:nth-child(2) {
  transform: translate3d(60%, 0, -320px);
}

.project:nth-child(0) {
  transform: translate3d(0, 0, 0);
}

.project-button {
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 50%;
  height: fit-content;
  color: red;
  text-shadow: 0 2px 4px black;
  background-color: green;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
  text-align: center;
  transform: perspective(3000px) rotateX(30deg);
}

.project-button:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 106);
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
  text-align: center;
  transform: scale(1.1);
}

li {
  color: rgb(2, 61, 2);
  font-weight: bolder;
}

#contact {
  margin-top: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-width: 0.1rem;
  border-radius: 2rem;
  border: #353535 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 4px 4px black;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 0.5rem;
}
.contact-info-container p {
  font-family: "Poppins", sans-serif;
}
.contact-info-container a {
  color: rgb(0, 0, 0);
}
.contact-info-container a:hover {
  color: green;
  text-decoration: underline;
}

/* Github Button` */
.github-button {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  font-family: "Bungee", sans-serif;
  text-align: center;
}

.fa-github {
  color: black;
  margin: 10px;
  font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
  .skills-container {
    flex-direction: column;
  }
  .hamburger-menu {
    display: block;
  }

  .navbar {
    display: none;
  }

  .container-3D {
    margin: 5rem auto;
  }
  .contact-info-upper-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0px;
  }

  .fa-github {
    margin: 10px;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .container-3D {
    width: 50rem;
  }
  .project {
    height: 40rem;
    width: 30rem;
  }
}
